<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All Listings
    </h1> 
    <p1>Make Bookmarks from the "Show Details" view</p1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
  <div class="tableFixHead">
    <table class="table">
      <thead>
        <tr>
          <th class="th-sm">
            Metro area
          </th>

          <th class="th-sm">
            Start date
          </th>

          <th class="th-sm">
            End date
          </th>

          <th class="th-sm">
            Owner Name
          </th>

          <th class="th-sm">
            Available
          </th>

          <th class="th-sm">
            Address
          </th>
          <th class="th-sm">
            Rent
          </th>

          <th class="th-sm">
            Gender preference
          </th>

          <th class="th-sm">
            Pets Allowed?
          </th>
          <th class="th-sm">
            Link
          </th>
        </tr>
      </thead>
      
      <tbody>
      <% @listings.each do |listing| %>
      <tr>
       
        <td>
          <%= listing.metro_area %>
        </td>

        <td>
          <%= listing.start_date %>
        </td>

        <td>
          <%= listing.end_date %>
        </td>

        <td>
          <%= listing.owner.fname %>
        </td>

        <td>
          <%= listing.available %>
        </td>

        <td>
          <%= listing.address %>
        </td>

        <td>
          <%= listing.rent %>
        </td>

        <td>
          <%= listing.gender_preference %>
        </td>

        <td>
          <% if listing.pets == true %>
            Yes
          <% else %>
            No
          <% end %>
        </td>

        <td>
          <a href="/listings/<%= listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      </tbody>
      <% end %>

      <tfoot>
        <tr>
          <th>
            Metro area
          </th>

          <th>
            Start date
          </th>

          <th>
            End date
          </th>

          <th>
            Owner Email
          </th>

          <th>
            Available
          </th>

          <th>
            Address
          </th>
         
          <th>
            Rent
          </th>

          <th>
            Gender preference
          </th>

          <th>
            Pets
          </th>
          <th>
            Link
          </th>
        </tr>
      </tfoot>
    </table>
    </div>
  </div>
</div>

<hr>
