<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Listing Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/listings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
 
      <div class="col">
        <% if  @current_user.id == @listing.owner_id %>
          <a href="/delete_listing/<%= @listing.id %>" class="btn btn-block btn-outline-secondary">
            Delete listing
          </a>
        <% else %>
          <% if  @current_user.bookmarks.pluck(:listing_id).include?(@listing.id) == false %>
            <form action="/insert_bookmark" method="post">
              <input name="listing_id_from_query" type="hidden" value="<%= @listing.id %>">
              <button>Create Bookmark</button>
            </form>
          <% end %>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Metro area
      </dt>
      <dd>
        <%= @listing.metro_area %>
      </dd>

      <dt>
        Start date
      </dt>
      <dd>
        <%= @listing.start_date %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @listing.end_date %>
      </dd>

      <dt>
        Owner Email
      </dt>
      <dd>
        <%= @listing.owner.email %>
      </dd>

      <dt>
        Available
      </dt>
      <dd>
        <%= @listing.available %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @listing.address %>
      </dd>

      <dt>
        Beds
      </dt>
      <dd>
        <%= @listing.beds %>
      </dd>

      <dt>
        Baths
      </dt>
      <dd>
        <%= @listing.baths %>
      </dd>

      <dt>
        Private bath
      </dt>
      <dd>
        <%= @listing.private_bath %>
      </dd>

      <dt>
        Floor Number
      </dt>
      <dd>
        <%= @listing.floor %>
      </dd>

      <dt>
        Elevator
      </dt>
      <dd>
        <%= @listing.elevator %>
      </dd>

      <dt>
        Laundry
      </dt>
      <dd>
        <%= @listing.laundry %>
      </dd>

      <dt>
        Rent
      </dt>
      <dd>
        <%= @listing.rent %>
      </dd>

      <dt>
        Gender preference
      </dt>
      <dd>
        <%= @listing.gender_preference %>
      </dd>

      <dt>
        Pets
      </dt>
      <dd>
        <%= @listing.pets %>
      </dd>

      <dt>
        Details
      </dt>
      <dd>
        <%= @listing.details %>
      </dd>

      <dt>
        Roomate
      </dt>
      <dd>
        <%= @listing.roomate %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@listing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@listing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <% if  @current_user.id == @listing.owner_id %>
      <h2>
        Edit listing
      </h2>

      <form action="/modify_listing/<%= @listing.id %>"  method="post" >
        <div class="form-group">
                
        <div>
          <label for="available_from_query">Still Available?</label>
        
            <select name="available_from_query">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </div>

        <label for="metro_area_box">
            Metro area
          </label>

          <select name="metro_area_from_query" id="metro_area_box">
            <option disabled selected value>-- select an option --</option>
            <option value="Chicago">Chicago</option>
            <option value="NewYork">New York</option>
            <option value="SanFrancisco">San Francisco</option>
            <option value="Boston">Boston</option>
          </select>
        </div>

        <div class="form-group">
          <label for="start_date_box">
            Start date
          </label>

          <input type="date" id="start_date_box" name="start_date_from_query" class="form-control">
        </div>

        <div class="form-group">
          <label for="end_date_box">
            End date
          </label>

          <input type="date" id="end_date_box" name="end_date_from_query" class="form-control">
        </div>

          <input type="hidden" id="owner_id_box" name="owner_id_from_query" class="form-control" 
          value="<%= @current_user.id %>">
        
        <div class="form-group">
          <label for="address_box">
            Address
          </label>

          <input type="text" id="address_box" name="address_from_query" class="form-control">
        </div>

        <div class="form-group">
          <label for="beds_box">
            Beds
          </label>

          <select name="beds_from_query" id="beds_box" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4+</option>
          </select>
          
        </div>

        <div class="form-group">
          <label for="baths_box">
            Baths
          </label>

          <select name="baths_from_query" id="baths_box" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="more_than_2">3+</option>
          </select>

        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="private_bath_box" name="private_bath_from_query" value="1">

          <label class="custom-control-label" for="private_bath_box">Private bath</label>
        </div>

        <div class="form-group">
          <label for="floor_box">
            Floor
          </label>

          <input type="number" min="1" max="200" id="floor_box" name="floor_from_query" class="form-control">
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="elevator_box" name="elevator_from_query" value="1">

          <label class="custom-control-label" for="elevator_box">Elevator</label>
        </div>

        <div class="form-group">
          <label for="laundry_box">
            Laundry
          </label>
          
          <select name="laundry_from_query" id="laundry_box"  class="form-control">
            <option value="in_unit">In unit</option>
            <option value="in_building">In building</option>
            <option value="none">None</option>
          </select>
        </div>
              
        <div class="form-group">
          <label for="rent_box">
            Rent
          </label>

          <input type="number" id="rent_box" name="rent_from_query" class="form-control">
        </div>

        <div class="form-group">
          <label for="gender_preference_box">
            Gender preference
          </label>

          <select name="gender_preference_from_query" id="gender_preference_box"  class="form-control">
            <option value="none">No Preference</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="pets_box" name="pets_from_query" value="1">

          <label class="custom-control-label" for="pets_box">Pets Allowed</label>
        </div>

        <div class="form-group">
          <label for="details_box">
            Description
          </label>

          <input type="text" id="details_box" name="details_from_query" class="form-control" >
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="roomate_box" name="roomate_from_query" value="1">

          <label class="custom-control-label" for="roomate_box">Existing Roomate</label>
        </div>

        <button class="btn btn-block btn-outline-secondary">
          Update listing
        </button>
      </form>
    <% end %>
  </div>
</div>

<hr>
