<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All Requests
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <div class="tableFixHead">
      <table class="table">
        <thead>
          <tr>
            <th>
              Requester
            </th>
            <th>
              Email
            </th>
            <th>
              Metro area
            </th>

            <th>
              Start date
            </th>

            <th>
              End date
            </th>

            <th>
            Detail Link
            </th>
          </tr>
        </thead>

        <tbody>
          <% @requests.each do |request| %>
          <tr>
            <td>
              <% the_user_id = request.requester_id %>
              <%= User.where({ :id => the_user_id }).first.fname %>
            </td>
            <td>
              <% the_user_id = request.requester_id %>
              <%= User.where({ :id => the_user_id }).first.email %>
            </td>
            <td>
              <%= request.metro_area %>
            </td>

            <td>
              <%= request.start_date %>
            </td>

            <td>
              <%= request.end_date %>
            </td>
            <td>
              <a href="/requests/<%= request.id %>">
                Show details
              </a>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

