<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Request #<%= @request.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/requests" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if  @current_user.id == @request.requester_id %>
          <a href="/delete_request/<%= @request.id %>" class="btn btn-block btn-outline-secondary">
          Delete Request</a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Requester
      </dt>
      <dd>
        <%= User.where({ :id => @request.requester_id }).first.fname %>
      </dd>

      <dt>
        Requester Email
      </dt>
      <dd>
        <%= User.where({ :id => @request.requester_id }).first.email %>
      </dd>

      <dt>
        Metro area
      </dt>
      <dd>
        <%= @request.metro_area %>
      </dd>

      <dt>
        Start date
      </dt>
      <dd>
        <%= @request.start_date %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @request.end_date %>
      </dd>
     
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit request
    </h2>

    <form action="/modify_request/<%= @request.id %>"  method="post" >
      <input type="hidden" id="requester_id_box" name="requester_id_from_query" class="form-control" value="<%= @request.requester_id %>">

      <div class="form-group">
        <label for="metro_area_box">
            Metro area
        </label>
        <select name="metro_area_from_query" id="metro_area_box">
            <option selected value="<%= @request.metro_area %>"><%= @request.metro_area %></option>
            <option value="Chicago">Chicago</option>
            <option value="NewYork">New York</option>
            <option value="SanFrancisco">San Francisco</option>
            <option value="Boston">Boston</option>
        </select>
      </div>

      <div class="form-group">
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="start_date_from_query" class="form-control" value="<%= @request.start_date %>">
      </div>

      <div class="form-group">
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="end_date_from_query" class="form-control" value="<%= @request.end_date %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update request
      </button>
    </form>
  </div>
</div>

<hr>
